node-red/flows/1-heratysvalo.json
[{"id":"5cb03fe6.5304a","type":"mqtt out","z":"4a0b88f7.ccc958","name":"","topic":"zigbee2mqtt/light/set","qos":"","retain":"","broker":"cf7e7082.ddd0e","x":660,"y":220,"wires":[]},{"id":"c4c2f894.5c3118","type":"inject","z":"4a0b88f7.ccc958","name":"","topic":"","payload":"{\"state\":\"OFF\"}","payloadType":"json","repeat":"","crontab":"00 08 * * 1,2,3,4,5","once":false,"onceDelay":0.1,"x":240,"y":260,"wires":[["76bcba7a.2f4394"]]},{"id":"af5d2a6e.afe4f8","type":"inject","z":"4a0b88f7.ccc958","name":"","topic":"","payload":"{\"state\":\"ON\"}","payloadType":"json","repeat":"","crontab":"00 07 * * 1,2,3,4,5","once":false,"onceDelay":0.1,"x":240,"y":220,"wires":[["76bcba7a.2f4394"]]},{"id":"76bcba7a.2f4394","type":"switch","z":"4a0b88f7.ccc958","name":"wakeupActive?","property":"wakeupActive","propertyType":"global","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":440,"y":220,"wires":[["5cb03fe6.5304a"],[]]},{"id":"7a0bf42e.a79e4c","type":"inject","z":"4a0b88f7.ccc958","name":"true","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":210,"y":160,"wires":[["7efaa1b3.ff3ee"]]},{"id":"7efaa1b3.ff3ee","type":"change","z":"4a0b88f7.ccc958","name":"","rules":[{"t":"set","p":"wakeupActive","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":470,"y":160,"wires":[[]]},{"id":"bbcc760c.4d7ef8","type":"inject","z":"4a0b88f7.ccc958","name":"false","topic":"","payload":"false","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":210,"y":120,"wires":[["7efaa1b3.ff3ee"]]},{"id":"cf7e7082.ddd0e","type":"mqtt-broker","z":"","name":"localhost","broker":"localhost","port":"1883","tls":"28153bed.8f4294","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"28153bed.8f4294","type":"tls-config","z":"","name":"gbridge-tls","cert":"","key":"","ca":"","certname":"","keyname":"","caname":"","servername":"mqtt.gbridge.io","verifyservercert":true}]
