node-red/flows/3-email-halytys.json
[{"id":"a908431d.772b7","type":"rbe","z":"4a0b88f7.ccc958","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload.temperature","x":530,"y":1080,"wires":[["a94e86bc.351848"]]},{"id":"4869585a.6ce658","type":"e-mail","z":"4a0b88f7.ccc958","server":"smtp.gmail.com","port":"465","secure":true,"name":"receiver@mikrobitti.fi","dname":"","x":480,"y":1140,"wires":[]},{"id":"b4266d6e.2f395","type":"mqtt in","z":"4a0b88f7.ccc958","name":"","topic":"zigbee2mqtt/bedroom1","qos":"2","broker":"cf7e7082.ddd0e","x":200,"y":1080,"wires":[["462d1cb0.25f6a4"]]},{"id":"462d1cb0.25f6a4","type":"json","z":"4a0b88f7.ccc958","name":"","property":"payload","action":"","pretty":false,"x":390,"y":1080,"wires":[["a908431d.772b7"]]},{"id":"a94e86bc.351848","type":"change","z":"4a0b88f7.ccc958","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"Alarm! The temperature has changed!","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":170,"y":1140,"wires":[["4869585a.6ce658"]]},{"id":"cf7e7082.ddd0e","type":"mqtt-broker","z":"","name":"localhost","broker":"localhost","port":"1883","tls":"28153bed.8f4294","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"28153bed.8f4294","type":"tls-config","z":"","name":"gbridge-tls","cert":"","key":"","ca":"","certname":"","keyname":"","caname":"","servername":"mqtt.gbridge.io","verifyservercert":true}]
