node-red/flows/5-xiaomi-napilla-lamppu-paalle.json
[{"id":"411268ae.223398","type":"mqtt in","z":"864fd296.5ce9e","name":"","topic":"zigbee2mqtt/switch","qos":"2","broker":"cf7e7082.ddd0e","x":290,"y":1580,"wires":[["1ed25161.81709f"]]},{"id":"1ed25161.81709f","type":"json","z":"864fd296.5ce9e","name":"","property":"payload","action":"","pretty":false,"x":450,"y":1580,"wires":[["eabcc7b6.017768"]]},{"id":"eabcc7b6.017768","type":"switch","z":"864fd296.5ce9e","name":"click","property":"payload.click","propertyType":"msg","rules":[{"t":"eq","v":"single","vt":"str"},{"t":"eq","v":"double","vt":"str"},{"t":"eq","v":"triple","vt":"str"},{"t":"eq","v":"quadruple","vt":"str"},{"t":"eq","v":"many","vt":"str"},{"t":"eq","v":"long","vt":"str"},{"t":"eq","v":"long_release","vt":"str"}],"checkall":"true","repair":false,"outputs":7,"x":570,"y":1580,"wires":[["63117f61.77bd"],[],[],[],[],["8b451731.363678"],[]]},{"id":"95246ea2.6b9b4","type":"mqtt out","z":"864fd296.5ce9e","name":"","topic":"zigbee2mqtt/light","qos":"","retain":"","broker":"cf7e7082.ddd0e","x":950,"y":1580,"wires":[]},{"id":"63117f61.77bd","type":"function","z":"864fd296.5ce9e","name":"Cycle Brightness","func":"const unit = 'tradfri'\nlet brightnesslookup = [254, 100, 0];\n\nconst data = (context.get(unit) !== undefined) ? context.get(unit) : 0\ncontext.set(unit, (data >= brightnesslookup.length - 1 ? 0 : data + 1));\n\nmsg.payload = {\n    \"state\": (data == brightnesslookup.length - 1) ? 'OFF' : 'ON',\n    \"brightness\": brightnesslookup[data]\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":730,"y":1540,"wires":[["95246ea2.6b9b4"]]},{"id":"8b451731.363678","type":"change","z":"864fd296.5ce9e","name":"{\"state\":\"OFF\"}","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"state\":\"OFF\"}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":740,"y":1580,"wires":[["95246ea2.6b9b4"]]},{"id":"cf7e7082.ddd0e","type":"mqtt-broker","z":"","name":"localhost","broker":"localhost","port":"1883","tls":"28153bed.8f4294","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"28153bed.8f4294","type":"tls-config","z":"","name":"gbridge-tls","cert":"","key":"","ca":"","certname":"","keyname":"","caname":"","servername":"mqtt.gbridge.io","verifyservercert":true}]
