node-red/flows/6-gbridge-homekit-aaniohjaus.json
[{"id":"14cec521.34521b","type":"mqtt in","z":"4a0b88f7.ccc958","name":"homekit2mqtt","topic":"/homekit/#","qos":"2","broker":"cf7e7082.ddd0e","x":150,"y":1340,"wires":[["4a7bf31d.36000c"]]},{"id":"c129bd8f.a7e99","type":"mqtt in","z":"4a0b88f7.ccc958","name":"","topic":"gBridge/u1425/+/onoff","qos":"2","broker":"afa6d049.08be3","x":180,"y":1280,"wires":[["4a7bf31d.36000c"]]},{"id":"4a7bf31d.36000c","type":"json","z":"4a0b88f7.ccc958","name":"","property":"payload","action":"","pretty":false,"x":310,"y":1340,"wires":[["c933e188.83481"]]},{"id":"c5b0c8b2.668838","type":"mqtt out","z":"4a0b88f7.ccc958","name":"","topic":"zigbee2mqtt/light/set","qos":"","retain":"","broker":"cf7e7082.ddd0e","x":660,"y":1340,"wires":[]},{"id":"c933e188.83481","type":"function","z":"4a0b88f7.ccc958","name":"ON / OFF","func":"msg.payload = {'value' : msg.payload ? 'ON' : 'OFF'}\nreturn msg","outputs":1,"noerr":0,"x":460,"y":1340,"wires":[["c5b0c8b2.668838"]]},{"id":"cf7e7082.ddd0e","type":"mqtt-broker","z":"","name":"localhost","broker":"localhost","port":"1883","tls":"28153bed.8f4294","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"afa6d049.08be3","type":"mqtt-broker","z":"","name":"","broker":"mqtt.gbridge.io","port":"8883","tls":"28153bed.8f4294","clientid":"","usetls":true,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"28153bed.8f4294","type":"tls-config","z":"","name":"gbridge-tls","cert":"","key":"","ca":"","certname":"","keyname":"","caname":"","servername":"mqtt.gbridge.io","verifyservercert":true}]
