node-red/kytkimen-tilan-lukeminen.json
[{"id":"6605edc.f913214","type":"mqtt in","z":"4a0b88f7.ccc958","name":"","topic":"zigbee2mqtt/xiaomi_smart_switch_2","qos":"2","broker":"cf7e7082.ddd0e","x":280,"y":720,"wires":[["6dd0398a.6c6308"]]},{"id":"6dd0398a.6c6308","type":"json","z":"4a0b88f7.ccc958","name":"","property":"payload","action":"","pretty":false,"x":490,"y":720,"wires":[["a7fa1198.ec8c"]]},{"id":"a7fa1198.ec8c","type":"switch","z":"4a0b88f7.ccc958","name":"click","property":"payload.click","propertyType":"msg","rules":[{"t":"eq","v":"single","vt":"str"},{"t":"eq","v":"double","vt":"str"},{"t":"eq","v":"triple","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":610,"y":720,"wires":[["a2f3ded2.10341"],["cffc1f96.1ba8c"],["a1a90999.ac53c8"]]},{"id":"a2f3ded2.10341","type":"function","z":"4a0b88f7.ccc958","name":"Bedroom Lights","func":"const unit = 'ikea_led_e14_1'\n\nconst switchState = (flow.get(unit) !== undefined) ? flow.get(unit) : true\nconst data = `${unit} ${(switchState ? 'ON' : 'OFF')}`\n\nflow.set(unit, !switchState)\n\nmsg.payload = {\"state\": switchState ? 'OFF' : 'ON'}\nmsg.topic = `zigbee2mqtt/${unit}/set`\n\nreturn msg;\n","outputs":1,"noerr":0,"x":780,"y":680,"wires":[["8144e32f.22d76"]]},{"id":"cffc1f96.1ba8c","type":"function","z":"4a0b88f7.ccc958","name":"Kitchen Lights","func":"const unit = 'ikea_led_e14_1'\n\nconst switchState = (flow.get(unit) !== undefined) ? flow.get(unit) : true\nconst data = `${unit} ${(switchState ? 'ON' : 'OFF')}`\n\nflow.set(unit, !switchState)\n\nmsg.payload = {\"state\": switchState ? 'OFF' : 'ON'}\nmsg.topic = `zigbee2mqtt/${unit}/set`\n\nreturn msg;\n","outputs":1,"noerr":0,"x":780,"y":720,"wires":[["8144e32f.22d76"]]},{"id":"a1a90999.ac53c8","type":"function","z":"4a0b88f7.ccc958","name":"Livingroom Lights","func":"const unit = 'ikea_led_e14_1'\n\nconst switchState = (flow.get(unit) !== undefined) ? flow.get(unit) : true\nconst data = `${unit} ${(switchState ? 'ON' : 'OFF')}`\n\nflow.set(unit, !switchState)\n\nmsg.payload = {\"state\": switchState ? 'OFF' : 'ON'}\nmsg.topic = `zigbee2mqtt/${unit}/set`\n\nreturn msg;\n","outputs":1,"noerr":0,"x":790,"y":760,"wires":[["8144e32f.22d76"]]},{"id":"8144e32f.22d76","type":"mqtt out","z":"4a0b88f7.ccc958","name":"zigbee2mqtt/X/set","topic":"","qos":"","retain":"","broker":"cf7e7082.ddd0e","x":1010,"y":720,"wires":[]},{"id":"cf7e7082.ddd0e","type":"mqtt-broker","z":"","name":"localhost","broker":"localhost","port":"1883","tls":"28153bed.8f4294","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"28153bed.8f4294","type":"tls-config","z":"","name":"gbridge-tls","cert":"","key":"","ca":"","certname":"","keyname":"","caname":"","servername":"mqtt.gbridge.io","verifyservercert":true}]
