node-red/node-red-anturidata-talteen
[{"id":"24878539.3d9a5a","type":"mqtt in","z":"4a0b88f7.ccc958","name":"","topic":"zigbee2mqtt/bedroom1","qos":"2","broker":"cf7e7082.ddd0e","x":240,"y":400,"wires":[["94d6b399.1344e"]]},{"id":"ccf3621a.86351","type":"json","z":"4a0b88f7.ccc958","name":"","property":"payload","action":"","pretty":false,"x":190,"y":460,"wires":[["7b9e99c6.e4d798"]]},{"id":"7b9e99c6.e4d798","type":"split","z":"4a0b88f7.ccc958","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"topic","x":330,"y":460,"wires":[["96aad4d9.d6e8d8"]]},{"id":"3e0ddf03.9e376","type":"switch","z":"4a0b88f7.ccc958","name":"","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"temperature","vt":"str"},{"t":"eq","v":"humidity","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":370,"y":520,"wires":[["45014c28.5030a4"],["eb3533e7.00335"]]},{"id":"45014c28.5030a4","type":"file","z":"4a0b88f7.ccc958","name":"temperature.txt","filename":"/home/pi/temperature.txt","appendNewline":true,"createDir":false,"overwriteFile":"false","x":540,"y":500,"wires":[[]]},{"id":"eb3533e7.00335","type":"file","z":"4a0b88f7.ccc958","name":"humidity.txt","filename":"/home/pi/humidity.txt","appendNewline":true,"createDir":false,"overwriteFile":"false","x":530,"y":540,"wires":[[]]},{"id":"96aad4d9.d6e8d8","type":"function","z":"4a0b88f7.ccc958","name":"Timestamp","func":"msg.payload = `${new Date()} ${msg.payload}`\nreturn msg;","outputs":1,"noerr":0,"x":210,"y":520,"wires":[["3e0ddf03.9e376"]]},{"id":"94d6b399.1344e","type":"delay","z":"4a0b88f7.ccc958","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"3","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":460,"y":400,"wires":[["ccf3621a.86351"]]},{"id":"cf7e7082.ddd0e","type":"mqtt-broker","z":"","name":"localhost","broker":"localhost","port":"1883","tls":"28153bed.8f4294","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"28153bed.8f4294","type":"tls-config","z":"","name":"gbridge-tls","cert":"","key":"","ca":"","certname":"","keyname":"","caname":"","servername":"mqtt.gbridge.io","verifyservercert":true}]
